/* fonts.css */

@font-face {
    font-family: 'IranSans';
    src: url('./assets/fonts/IRANSansWeb.ttf');
  }

  @font-face {
    font-family: 'IranSansBold';
    src: url('./assets/fonts/IRANSansWeb_Black.ttf') format('truetype');
  }
  
  body {
    font-family: 'IranSans';
  }

  .font {
    font-family: 'IranSans';
  }
  .boldfont {
    font-family: 'IranSansBold';
  }