/* fonts.css */

@font-face {
    font-family: 'IranSans';
    src: url('./IRANSansWeb.ttf');
  }

  @font-face {
    font-family: 'IranSansBold';
    src: url('./IRANSansWeb_Bold.ttf') format('truetype');
  }
  
  body {
    font-family: 'IranSans';
  }