/* fonts.css */

@font-face {
    font-family: 'IranSans';
    src: url('./assets/fonts/IRANSansWeb.ttf');
  }

  @font-face {
    font-family: 'IranSansBold';
    src: url('./assets/fonts/IRANSansWeb_Bold.ttf') format('truetype');
  }
  
  body {
    font-family: 'IranSans';
  }

  .font {
    font-family: 'IranSans';
  }
  .boldfont {
    font-family: 'IranSansBold';
  }

  .image-zoom img {
    transition: transform 0.3s ease-in-out;
}

.image-zoom img:hover {
    transform: scale(1.2);
}